/* intro */

.intro__wrapper {
  display: flex;
  flex-direction: row;
  height: 320px;

  @media (max-width: $max-lg) {
    height: auto;
    flex-direction: column;
    margin: 0 -20px;
  }

  @media (max-width: $max-md) {
    margin: 0 -10px;
  }

  @media (max-width: $max-sm) {
    margin: 0 -15px;
  }
}

.intro__main {
  display: flex;
  width: 80%;
  margin-right: 15px;

  @media (max-width: $max-xl) {
    margin-right: 0;
  }

  @media (max-width: $max-lg) {
    width: 100%;

    margin-bottom: 20px;
  }
}

.intro-news__image {
  max-height: 320px;

  @media (max-width: $max-xl) {
    width: 100%;

    object-fit: cover;
  }

  @media (max-width: $max-lg) {
    object-fit: contain;
  }
}

.intro__text {
  width: 49%;
  background-color: $color-blue;

  @media (max-width: $max-xl) {
    display: none;
  }
}

.intro__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro-secondary__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;

  background-color: $color-gray;

  @media (max-width: $max-lg) {
    width: 100%;
    padding: 0 20px;

    background-color: $color-white;
  }

  @media (max-width: $max-md) {
    padding: 0 10px;
  }

  @media (max-width: $max-sm) {
    padding: 0 15px;

    background-color: $color-gray-lighten-2;
  }
}

.intro-secondary {
  width: 100%;

  text-align: center;

  background-color: $color-gray;

  @media (max-width: $max-lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 394px;
  }

  @media (max-width: $max-sm) {
    height: 330px;
  }
}
