<!-- intro -->
<section class="intro">
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__main">
        <div class="intro__image">
          <img
            src="assets/img/intro/news-image-1.jpg"
            alt="logo"
            class="intro-news__image"
          />
        </div>
        <div class="intro__text"></div>
      </div>

      <div class="intro-secondary__wrapper">
        <div class="intro-secondary">Котировки</div>
      </div>
    </div>
  </div>
</section>
